{{> head }}
    {{> navbar }}
    <div class="row">
        <div class="col-8" >
            <h1>Handelbars</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam id eius quae, voluptas officiis ratione in vero consequatur! Ex sit alias maxime magni quam accusantium omnis porro incidunt temporibus eos.
            </p>
        </div>
        <div class="col-4" >
            <img src="assets//img/hbs.png" class="img-thumbnail">
        </div>
    </div>
{{> footer }}